@use "mixins";
@use "vars";
@use "colors";

* {
  box-sizing: border-box;
  outline-color: var(--color-primary);
  outline-width: 1px;
}

*:focus {
  outline-style: dotted;
}

html {
  height: 100%;
  overflow-y: scroll;
  background-color: colors.$color-secondary-50;
  &.flexbox {
    overflow-y: hidden;
  }
  &.dark-mode {
    background-color: colors.$color-secondary-900;
  }
}

body {
  font-size: vars.$fs-m;
  line-height: 1.6;
  color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
  height: 100%;
  display: flex;
  flex-direction: column;
}
