@use "mixins";
@use "vars";
@use "colors";

table {
  min-width: 100px;
  max-width: 100%;
  thead {
    @include mixins.lightDark(background-color, colors.$color-secondary-200, colors.$color-secondary-900);
    font-weight: 500;
  }
  td, th {
    min-width: 10px;
    padding: 6px 8px;
    border: 1px solid;
    @include mixins.lightDark(border-color, colors.$color-secondary-300, colors.$color-secondary-600);
    overflow: auto;
    line-height: 1.2;
	word-break: break-word;
    vertical-align: top; // Workaround for: https://bugzilla.mozilla.org/show_bug.cgi?id=569645;
  }

  td {
    padding: 10px;
  }

  td p, th p {
    margin: 0;
  }

  tr:nth-child(even) {
    @include mixins.lightDark(background-color, colors.$color-secondary-50, colors.$color-secondary-700);
  }
}

table.table {
  width: 100%;
  tr td, tr th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  th, td {
    text-align: start;
    border: none;
    padding: vars.$s vars.$s;
    vertical-align: middle;
    margin: 0;
    overflow: visible;
  }
  th {
    font-weight: bold;
  }
  tr:hover {
    @include mixins.lightDark(background-color, #F2F2F2, #333);
  }
  .text-right {
    text-align: end;
  }
  .text-center {
    text-align: center;
  }
  td.actions {
    overflow: visible;
  }
  a {
    display: inline-block;
  }
  &.expand-to-padding {
    margin-left: -(vars.$s);
    margin-right: -(vars.$s);
    width: calc(100% + (2*#{vars.$s}));
    max-width: calc(100% + (2*#{vars.$s}));
  }
}

table.no-style {
  td {
    border: 0;
    padding: 0;
  }
}

table.list-table {
  margin: 0 (-(vars.$xs));
  td {
    border: 0;
    vertical-align: middle;
    padding: vars.$xs;
  }
}