

$rounded-lg: 0.5rem;


@mixin text-xs {
  font-size: 0.75rem; // 12px
  line-height: calc(1 / 0.75); // ~1.3333
}

@mixin text-sm {
  font-size: 0.875rem; // 14px
  line-height: calc(1.25 / 0.875); // ~1.4286
}

@mixin text-base {
  font-size: 1rem; // 16px
  line-height: calc(1.5 / 1); // 1.5
}

@mixin text-lg {
  font-size: 1.125rem; // 18px
  line-height: calc(1.75 / 1.125); // ~1.5556
}

@mixin text-xl {
  font-size: 1.25rem; // 20px
  line-height: calc(1.75 / 1.25); // 1.4
}

@mixin text-2xl {
  font-size: 1.5rem; // 24px
  line-height: calc(2 / 1.5); // 1.3333
}

@mixin text-3xl {
  font-size: 1.875rem; // 30px
  line-height: calc(2.25 / 1.875); // 1.2
}

@mixin text-4xl {
  font-size: 2.25rem; // 36px
  line-height: calc(2.5 / 2.25); // ~1.1111
}

@mixin text-5xl {
  font-size: 3rem; // 48px
  line-height: 1; // 1
}

@mixin text-6xl {
  font-size: 3.75rem; // 60px
  line-height: 1; // 1
}

@mixin text-7xl {
  font-size: 4.5rem; // 72px
  line-height: 1; // 1
}

@mixin text-8xl {
  font-size: 6rem; // 96px
  line-height: 1; // 1
}

@mixin text-9xl {
  font-size: 8rem; // 128px
  line-height: 1; // 1
}
